body {
    background-color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
    font-weight:normal;
    background-image: url('bg.jpg')
}

.formGroup {
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    border-color: aqua;
    max-width: 400px;

}

.header {
    margin: auto;
    width: 20%;
}

.circuitTitle {
    display: inline;
}

#genQuote {

    text-align: center;
}

.qty {
    max-width: 30px;
    margin-right: 5px;
}

.genQuoteBtn {
    padding: 12px 20px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(73, 171, 184);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .genQuoteBtn:hover {background-color: rgb(33, 155, 168)}
  
  .genQuoteBtn:active {
    background-color: rgb(73, 171, 184);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  /* Style the links inside the sidenav */
#mySidenav {
    display: none;
}
  #mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #about {
    top: 20px;
    background-color: #4CAF50;
  }
  
  #blog {
    top: 80px;
    background-color: #2196F3; /* Blue */
  }
  
  #projects {
    top: 140px;
    background-color: #f44336; /* Red */
  }
  
  #contact {
    top: 200px;
    background-color: #555 /* Light Black */
  }